<table class ="front" summary="home page for logged in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's on your mind?</h1>
         <%= render 'shared/micropost_form' %>
         <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
</table>