
    <h1>Sample App</h1>
    <p>
      this is the home page 
      <a href="http/railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
  <%= link_to "SIGN UP NOW!!", signup_path, :class=> "signup_button round"%>